@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Ultra&display=swap');

*{
    box-sizing: border-box;
}

#para {
    display: none;
}

section {
    align-items: center;
    margin: 4rem;
    height: fit-content;
    
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template: 1fr/ 1fr 1fr;
    background-color: #daded4;
}

p {
    font-family: 'Ultra, serif';
    font-size: 20px;
}

h2 {
    font-family: 'Holtwood One SC', serif;;
    font-weight: 700;
    font-size: 30px;
}

.spacer {
    padding: 2rem;
}

/*Intro*/
.Intro {
    text-align: center;
    align-content: center;
}

/*Clock CCS*/

div#myClock {
    border-radius: 20px/20px;
    box-shadow: 10px 5px 5px grey;
    padding: 1.5rem;
    margin: 2rem;
    width: auto;
}

#myClock {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 58px;
    color: #04eea4ec;
    text-align: center;
    background-color: #05023ee5;
   

}

/*To Do List*/

ul {
    margin: 0;
    padding:0;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul li {
    list-style: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #55402ee5;
    color:#fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    list-style-type: none;
    
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #fb1e0e;
    color: white;
}

#IntroHov {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 550px;
    background: #2c954a;
    border-radius: 15px/15px;
    font-size: 1.5rem;
    color:black;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hoverBtn {
    transform: scale(1.1);
}

.header {
    display: block;
    background-color: #2c954a;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size:16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #55402ee5;
    color: #eee;
}