/* Created by Grace Garrand */
body {
    color: rgb(41, 65, 66);
    text-decoration: none;
    background-color: oldlace;
    text-align: center;
}
#blue {
    color: blue;
    font-size: x-large;
}

.header2 {
    color: rgb(19, 155, 128);
}

.change1 {
    font-size: x-large;
    border: solid 5px grey;
}

input , .additionalLi {
    height: 2rem;
    width: 15rem;
}
p {
    text-align: center;
    margin: 2rem;
}
